.board {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.player1 { background: red; }
.player2 { background: yellow; }
